src/main/java/hw_140521/xmlJSON/employees2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="firstName" type="xs:string"/>
    <xs:element name="lastName" type="xs:string"/>
    <xs:element name="middleName" type="xs:string"/>
    <xs:element name="position" type="xs:string"/>
    <xs:element name="department" type="xs:decimal"/>
    <xs:element name="workExpirience" type="xs:decimal"/>
    <xs:element name="employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="firstName"/>
                <xs:element ref="lastName"/>
                <xs:element ref="middleName"/>
                <xs:element ref="position"/>
                <xs:element ref="department"/>
                <xs:element ref="workExpirience"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="employee" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>