src/main/java/hw_140521/xmlJSON/employees3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="employees" type="employeesType"/>
    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element type="xs:string" name="firstName"/>
            <xs:element type="xs:string" name="lastName"/>
            <xs:element type="xs:string" name="middleName"/>
            <xs:element type="xs:string" name="position"/>
            <xs:element type="xs:decimal" name="department"/>
            <xs:element type="xs:decimal" name="workExpirience"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="employeesType">
        <xs:sequence>
            <xs:element type="employeeType" name="employee" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>